@use "../../style/variables.scss" as var;

.card {
  display: flex;
  gap: 2%;
  margin-bottom: 2%;
}

.text {
  @include var.input;
}

.button {
  @include var.button;
  width: 200px;
  background-color: var.$bg-main;

  &:hover {
    background-color: var.$bg-hover;
    cursor: pointer;
    transition: all 0.5s;
  }
}

.red {
  @include var.button;
  width: 200px;
  background-color: red;

  &:hover {
    background-color: var.$bg-hover;
    cursor: pointer;
    transition: all 0.5s;
  }
}
.green {
  @include var.button;
  width: 200px;
  background-color: green;

  &:hover {
    background-color: var.$bg-hover;
    cursor: pointer;
    transition: all 0.5s;
  }
}
