$bg-main: rgba(53, 119, 129, 0.986);
$bg-hover: rgba(26, 79, 85, 0.986);

$font-main-color: rgba(12, 86, 95, 0.986);
$font-contrast-color: #fff;
$font-contrast-color-hover: #e6e6e6;

@mixin input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: $font-main-color;
  height: 50px;
  width: 300px;
  border: 2px solid rgba(12, 86, 95, 0.986);
  border-radius: 10px;
}
